srv/config.py
inc/config.php
img/maps/*/*
img/maps/*.jpg
img/maps/*.jpeg
img/maps/*.png
img/custom
cache/*
rss.xml
.sublime-project
.floo*

# mici
_OTHERS
tf
xampp

# Python
*.pyc
*.pyo
*/__pycache__

# Composer
composer.phar
vendor

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
