srv/config.py
inc/config.php
img/maps/*
cache/*
rss.xml

# mici
_OTHERS
tf
xampp

# Python
*.pyc
*.pyo
*/__pycache__

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
