<Files .htaccess>
order deny,allow
deny from all
</Files>

<Files index.php>
order allow,deny
allow from all
</Files>

ErrorDocument 404 /notfound.php

RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ http:\/\/%{HTTP_HOST}\/$1 [R=301,L]

RewriteRule \.(css|jpe?g|gif|png)$ - [L]

RewriteCond %{REQUEST_URI} ^\/[^\.]+[^\/]$
RewriteRule ^(.*)$ http:\/\/%{HTTP_HOST}\/$1\/ [R=301,L]

RewriteRule ^([^\/\.]+)\/?$ \/index.php?p=$1 [L]
RewriteRule ^([^\/\.]+)\/([^\/\.]+)\/?$ \/index.php?p=$1&id=$2 [L]
#RewriteRule ^([^\/\.]+)\/([^\/\.]+)/([^\/\.]+)\/?$ /master.php?section=$1&subsection=$2&page=$3 [L]