<Files .htaccess>
order deny,allow
deny from all
</Files>

<Files index.php>
order allow,deny
allow from all
</Files>

AuthUserFile .htpasswd
AuthName "Please Log In"
AuthType Basic
require valid-user

ErrorDocument 404 /notfound.php
