body, html {
  margin: 0px;
  background-image: url(img/bg2.png);
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #BAD5F1;
  text-align: center;
}

@font-face {
  font-family: "TF2 Build";
  src: url("res/tf2build.ttf");
} 

#wrapper {
  width: 1000px;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(5, 5, 5, .5);
          box-shadow: inset 0px 0px 12px 0px rgba(5, 5, 5, .5);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin: auto;
  margin-top: 10px;
  background-color: #141414;
  padding-bottom: 10px;
}

header {
  margin: auto;
  background-image: url(img/header.png);
  width: 1000px;
  height: 250px;
}

nav {
  border: 0px solid #ff9933;
  width: 1000px;
  font-size: 20px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #4188D2;
}

#searchbox {
  font-family: "Open Sans", "Arial", sans-serif;
  background: transparent;
  width: 62px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  border: 0;
  cursor: pointer;
  text-align: right
}

#searchbox::-webkit-input-placeholder {
  color: white;
}

#searchbox:hover::-webkit-input-placeholder {
  color: #4188D2;
}

#searchbox:focus {
  cursor: text;
  outline: none;
}

#searchbox:focus::-webkit-input-placeholder {
  color: #4188D2;
}

section {
  border: 0px solid #ff9933;
  width: 1000px;
}

article {

}

footer {
  border: 0px solid #ff9933;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 12px;
  color: white;
  text-align: center;
}

a, a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover, a:active {
  color: #4188d2;
  text-decoration: none;
}

hr {
  width: 96%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #4188d2;
  border-color: #4188d2;
  clear: both;
}

form {
  margin: 0px;
  padding: 0px;
  display: inline;
}

input {
  background-color: #141414;
  border: 1px solid #4188d2;
  color: #BAD5F1;
}

div.map {
  width: 800px;
  height: 450px;
  background-size: 100% Auto;
  margin: auto;
  margin-bottom: 20px;
  color: #ffffff;
  border: 1px dashed #abcdef;
}

#stream-menu {
  list-style: none;
  padding: 0px;
}

.stream-button {
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  width: 65px;
}

.stream-button:hover {
  border-color: #4188D2;
  color: white;
}

.stream-button-selected {
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  width: 65px;
  color: #ff9933 !important;
}

.stream-button-selected:hover {
  border-color: #4188D2;
  color: white;
}

.article-header {
  margin: 0px;
  padding: 0px;
}

.article-title {
  height: 36px;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
  margin-left: 17px;
  float: left;
  color: white;
}

.article-metadata {
  position: relative;
  top: 10px;
  font-size: 14px;
  color: #909090;
  font-style: italic;
  float: right;
  text-align: right;
  margin-right: 22px;
}

.article-body {
  margin-top: 30px;
  margin-left: 19px;
  color: #BAD5F1;
  text-align: justify;
}

.article-separator {
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 0px;
  background-image:         linear-gradient(left, #141414 0%, #505050 30%, #505050 70%, #141414 100%);
  background-image:      -o-linear-gradient(left, #141414 0%, #505050 30%, #505050 70%, #141414 100%);
  background-image:    -moz-linear-gradient(left, #141414 0%, #505050 30%, #505050 70%, #141414 100%);
  background-image: -webkit-linear-gradient(left, #141414 0%, #505050 30%, #505050 70%, #141414 100%);
  background-image:     -ms-linear-gradient(left, #141414 0%, #505050 30%, #505050 70%, #141414 100%);
  background-image: -webkit-gradient (linear, left top, right top,
                                      color-stop(0, #141414),
                                      color-stop(0.3, #505050),
                                      color-stop(0.7, #505050),
                                      color-stop(1, #141414)
                                     );
}

#nav-menubar {
  float: left;
  margin-left: 19px;
}

#nav-actionbar {
  float: right;
  margin-right: 19px;
  margin-top: -2px;
}

#actionbar-logindata {
  color: white;
}

#actionbar-username {
  font-weight: 600;
}

.comments-title {
  float: left;
  margin-top: 0px;
  margin-bottom: -6px;
  margin-left: 19px;
  font-weight: 300;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.comment-metadata {
  clear: both;
  float: left;
  margin-top: 10px;
  margin-left: 19px;
  color: white;
  font-weight: 200;
}

.comment-author {
  font-weight: 600;
  color: #BAD5F1;
}

p.comment-text {
  margin-left: 19px;
  margin-right: 20px;
  padding-left: 8px;
  font-size: 14px;
  color: #BAD5F1;
  text-align: justify;
}

#comment-form {
  clear: both;
}

#comment-textarea {
  height: 60px;
  width: 500px;
  margin-top: 18px;
  margin-left: 19px;
  background-color: inherit;
  border-color: #4188D2;
  color: white;
  font: inherit;
  font-size: 14px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

#comment-submitbutton {
  height: 66px;
  width: 41px;
  margin-left: -5px;
  position: relative;
  left: 4px;
  top: -24px;
  color: #BAD5F1;
  font-size: 28px;
  border-color: #4188D2;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.clearfix {
  clear: both;
  margin-top: 38px;
}

        @keyframes fadeout { from{opacity: 1;} to{opacity: 0;} }
@-webkit-keyframes fadeout { from{opacity: 1;} to{opacity: 0;} }
   @-moz-keyframes fadeout { from{opacity: 1;} to{opacity: 0;} }
     @-o-keyframes fadeout { from{opacity: 1;} to{opacity: 0;} }

        @keyframes fadein { from{opacity: 0;} to{opacity: 1;} }
@-webkit-keyframes fadein { from{opacity: 0;} to{opacity: 1;} }
   @-moz-keyframes fadein { from{opacity: 0;} to{opacity: 1;} }
     @-o-keyframes fadein { from{opacity: 0;} to{opacity: 1;} }


        @keyframes scrolling { }
@-webkit-keyframes scrolling { }
   @-moz-keyframes scrolling { }
     @-o-keyframes scrolling { }

.map-scrolling {
          animation-name: scrolling;
  -webkit-animation-name: scrolling;
     -moz-animation-name: scrolling;
       -o-animation-name: scrolling;
}

.map-fadeout {
          animation-name: fadeout;
  -webkit-animation-name: fadeout;
     -moz-animation-name: fadeout;
       -o-animation-name: fadeout;
}

.map-fadein {
          animation-name: fadein;
  -webkit-animation-name: fadein;
     -moz-animation-name: fadein;
       -o-animation-name: fadein;
}

.map-container {
  width: 900px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.map-leftarrow {
  height: 510px;
  width: 65px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  z-index: 1;
  background-image: url(img/prev.png);
  background-repeat: no-repeat;
  background-position: -3px 232.5px;
          animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
     -moz-animation-duration: 0.2s;
       -o-animation-duration: 0.2s;
          animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
     -moz-animation-timing-function: ease-in-out;
       -o-animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
}

.map-leftarrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.map-rightarrow {
  height: 510px;
  width: 65px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  left: 835px;
  z-index: 1;
  background-image: url(img/next.png);
  background-repeat: no-repeat;
  background-position: 17px 232.5px;
          animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
     -moz-animation-duration: 0.2s;
       -o-animation-duration: 0.2s;
          animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
     -moz-animation-timing-function: ease-in-out;
       -o-animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
}

.map-rightarrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.map-imageroll {
  white-space: nowrap;
  position: relative;
  border-radius: 15px;
          animation-duration: 1s;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
     -moz-animation-timing-function: ease-in-out;
       -o-animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
}

div.map-image {
  display: inline;
}

img.map-image {
  width: 100%;
}

.map-name {
  width: 100%;
  font-family: "TF2 Build";
  font-size: 56px;
  -webkit-text-stroke: 2px black;
  color: white;
  text-align: center;
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.map-author {

}

.map-game {

}

.map-desc {

}

.map-dl {

}