body, html {
margin: 0px;
padding: 0px;
background-color: #151515;
background-image: url(img/bg2.png);
color: #4188d2;
text-align: center;
font-family: "Open Sans", "Arial", sans-serif;
font-weight: 400;
}

#wrapper {
width: 1000px;
-webkit-box-shadow: inset 0px 0px 12px 0px rgba(5, 5, 5, .5);
        box-shadow: inset 0px 0px 12px 0px rgba(5, 5, 5, .5);
-webkit-border-radius: 4px;
border-radius: 4px;
margin: auto;
margin-top: 10px;
background-color: #141414;
padding-bottom: 10px;
}

header {
margin: auto;
background-image: url(img/header.png);
width: 1000px;
height: 250px;
}

nav {
border: 0px solid #ff9933;
width: 1000px;
font-size: 20px;
font-weight: 300;
padding-top: 0.5em;
padding-bottom: 0.5em;
}

section {
border: 0px solid #ff9933;
width: 1000px;
}

article {

}

footer {
border: 0px solid #ff9933;
padding-top: 1em;
padding-bottom: 1em;
font-size: 12px;
color: white;
}

a, a:visited {
color: #ffffff;
text-decoration: none;
}

a:hover, a:active {
color: #4188d2;
text-decoration: none;
}

hr {
width: 96%;
margin: auto;
margin-top: 5px;
margin-bottom: 20px;
background-color: #4188d2;
border-color: #4188d2;
clear: both;
}

form {
margin: 0px;
padding: 0px;
display: inline;
}

input {
background-color: #141414;
border: 1px solid #4188d2;
color: #BAD5F1;
}

div.map {
width: 800px;
height: 450px;
background-size: 100% Auto;
margin: auto;
margin-bottom: 20px;
color: #ffffff;
border: 1px dashed #abcdef;
}

#stream-menu {
	list-style: none;
	padding: 0px;
}

.stream-button {
	display: inline-block;
	border: 1px solid white;
	padding: 5px;
	margin: 5px;
	width: 65px;
}

.stream-button:hover {
	border-color: #4188D2;
	color: white;
}

.stream-button-selected {
	display: inline-block;
	border: 1px solid white;
	padding: 5px;
	margin: 5px;
	width: 65px;
	color: #ff9933 !important;
}

.stream-button-selected:hover {
	border-color: #4188D2;
	color: white;
}

.article-header {
	margin: 0px;
	padding: 0px;
}

.article-title {
	height: 36px;
	font-size: 36px;
	font-weight: 600;
	text-align: left;
	padding-left: 19px;
	float: left;
}

.article-metadata {
	position: relative;
	top: 10px;
	font-size: 14px;
	color: #909090;
	font-style: italic;
	float: right;
	text-align: right;
	margin-right: 22px;
}

.article-body {
	margin-top: 30px;
	margin-left: 19px;
	color: #BAD5F1;
	text-align: justify;
}

.article-separator {
	height: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 0px;
	background-image: linear-gradient(left , #141414 0%, #505050 30%, #505050 70%, #141414 100%);
	background-image: -o-linear-gradient(left , #141414 0%, #505050 30%, #505050 70%, #141414 100%);
	background-image: -moz-linear-gradient(left , #141414 0%, #505050 30%, #505050 70%, #141414 100%);
	background-image: -webkit-linear-gradient(left , #141414 0%, #505050 30%, #505050 70%, #141414 100%);
	background-image: -ms-linear-gradient(left , #141414 0%, #505050 30%, #505050 70%, #141414 100%);

	background-image: -webkit-gradient(
	linear,
	left top,
	right top,
	color-stop(0, #141414),
	color-stop(0.3, #505050),
	color-stop(0.7, #505050),
	color-stop(1, #141414)
	);
}

#nav-menubar {
	float: left;
	padding-left: 19px;
}

#nav-actionbar {
	float: right;
	padding-right: 17px;
}