@font-face {
  font-family: "TF2 Build";
  src: url("res/tf2build.ttf");
}

body {
  margin: 0;
  background-image: url(img/bg2.png);
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #DDD;
  text-align: left;
}

.wrapper {
  width: 1000px;
  margin: 10px auto;
  box-shadow: inset 0 0 12px 0 rgba(5, 5, 5, .5);
  border-radius: 4px;
  padding-bottom: 10px;
  background-color: #141414;
}

header {
  width: 1000px;
  height: 200px;
  margin: auto;
  background-image: url(img/header.png);
}

nav {
  width: 962px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
}

.searchbox {
  width: 62px;
  border: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  text-align: right;
  background: transparent;
  cursor: pointer;
}

.searchbox::-webkit-input-placeholder {
  color: white;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

.searchbox:hover::-webkit-input-placeholder {
  color: #4188D2;
}

.searchbox:focus {
  cursor: text;
  outline: none;
}

.searchbox:focus::-webkit-input-placeholder {
  color: #4188D2;
}

.include-section {
  width: 962px;
  margin: 10px auto;
  position: relative;
}

footer {
  border: 0 solid #F93;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: Bitter;
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 1.4em;
}

.contact-us-link {
  font-weight: 700;
}

.contact-us-link+.contact-us-link:before {
  content: " · ";
}

a, a:visited {
  color: #FFF;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

a:hover, a:active {
  color: #4188D2;
  text-decoration: none;
}

.faux-link {
  color: #FFF;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

.faux-link:hover {
  color: #4188D2;
  cursor: pointer;
}

hr {
  clear: both;
  width: 960px;
  background-color: #4188D2;
  margin: 5px auto 10px;
  border-style: solid;
  border-color: #4188D2;
}

form {
  display: inline;
}

input {
  background-color: #141414;
  border: 1px solid #4188D2;
  color: #DDD;
}

.stream-menu {
  list-style: none;
  padding: 0;
  text-align: center;
}

.stream-button {
  display: inline-block;
  width: 130px;
  margin: 7px 10px 0;
  border: 1px solid white;
  padding: 5px 0;
  color: white;
  transition: border-color 0.3s ease-in-out;
  -webkit-transition: border-color 0.3s ease-in-out;
}

.stream-button:hover {
  border-color: #4188D2;
  color: white;
}

.stream-button-selected {
  color: #F93;
}

.stream-button-selected:hover {
  color: #F93;
}

.stream-live {
  background-image: url(img/stream-live-bg.png);
}

.stream-title {
  margin-bottom: 6px;
}

.stream-player {
  float: left;
  height: 378px;
  width: 620px;
}

.stream-description {
  float: right;
  height: 378px;
  width: 321px;
  overflow-y: auto;
  color: #DDD;
  text-align: justify;
}

.stream-description p {
  margin: 0;
}

.stream-content:after, .stream-content:before {
  content: "";
  display: table;
}

.stream-content:after {
  clear: both;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  font-family: Bitter;
  text-align: left;
}

.article-header {
  position: relative;
  margin: 0;
  padding: 0;
}

.article-header:before, .article-header:after {
  display: table;
  content: "";
}

.article-header:after {
  clear: both;
}

.article-title {
  width: 700px;
  float: left;
}

.article-metadata {
  margin-top: 4px;
  font-size: 14px;
  font-style: italic;
  color: #999;
  float: right;
}

.article-edit-metadata {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 14px;
  font-style: italic;
  color: #555;
}

.article-edit-metadata:before {
  content: "last edited ";
}

.article-author:before {
  content: "by ";
}

.article-metadata-item+.article-metadata-item:before {
  content: " – ";
}

article {
  color: #DDD;
  text-align: justify;
}

.article-separator {
  width: 800px;
  height: 1px;
  margin-top: 20px;
  border-width: 0;
  background-image: -webkit-linear-gradient(left, #141414 0%, #333 50%, #333 50%, #141414 100%);
  background-image: -moz-linear-gradient(left, #141414 0%, #333 50%, #333 50%, #141414 100%);
  background-image: -o-linear-gradient(left, #141414 0%, #333 50%, #333 50%, #141414 100%);
  background-image: -ms-linear-gradient(left, #141414 0%, #333 50%, #333 50%, #141414 100%);
  background-image: linear-gradient(left, #141414 0%, #333 50%, #333 50%, #141414 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #141414), color-stop(0.5, #333), color-stop(1, #141414));
}

.nav-menubar {
  float: left;
  z-index: 1;
}

.nav-actionbar {
  float: right;
  margin-top: -2px;
}

.nav-loginbar {
  display: none;
  margin-top: -2px;
  color: #DDD;
  float: right;
}

.menu-item>input[name=password] {
  margin-right: 20px;
}

.menu-item+.menu-item:before {
  content: " / ";
  color: #4188D2;
}

.menu-item+.menu-item:before:hover {
  color: #4188D2;
}

.actionbar-logindata {
  color: white;
}

.actionbar-username {
  font-weight: 600;
}

.comments-title {
  margin-top: 16px;
  margin-bottom: 4px;
  font-size: 22px;
}

.comment {
  text-align: left;
}

.comment-metadata {
  clear: both;
  font-weight: 200;
  color: white;
}

.comment-author {
  font-weight: 600;
  color: #DDD;
}

.comment-date:before {
  content: " · ";
}

.comment-deletebutton:before {
  content: " · ";
}

.comment-text {
  text-align: justify;
  font-size: 14px;
  color: #DDD;
}

.comment-form {
  clear: both;
  text-align: left;
}

.comment-textarea {
  height: 60px;
  width: 500px;
  margin-top: 4px;
  border-color: #4188D2;
  border-radius: 2px;
  background-color: inherit;
  font: inherit;
  font-size: 14px;
  color: white;
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.comment-textarea:focus {
  outline: none;
  border-color: #F93;
}

.comment-submitbutton {
  position: relative;
  top: -25px;
  left: 4px;
  height: 66px;
  width: 41px;
  margin-left: -5px;
  border-color: #4188D2;
  border-radius: 2px;
  font-size: 28px;
  color: #DDD;
  -webkit-transition: border-color 0.3s ease-in-out, color 0.1s;
  transition: border-color 0.3s, color 0.1s;
}

.comment-submitbutton:hover {
   border-color: #F93;
}

.comment-submitbutton:active {
   color: #F93;
}

@-webkit-keyframes fadeout { from{opacity: 1;} to{opacity: 0;} }
@-moz-keyframes fadeout { from{opacity: 1;} to{opacity: 0;} }
@keyframes fadeout { from{opacity: 1;} to{opacity: 0;} }

@-webkit-keyframes fadein  { from{opacity: 0;} to{opacity: 1;} }
@-moz-keyframes fadein  { from{opacity: 0;} to{opacity: 1;} }
@keyframes fadein  { from{opacity: 0;} to{opacity: 1;} }

@-webkit-keyframes scrolling { }
@-moz-keyframes scrolling { }
@keyframes scrolling { }

.map-scrolling {
  -webkit-animation-name: scrolling;
  -moz-animation-name: scrolling;
  -ms-animation-name: scrolling;
  animation-name: scrolling;
}

.map-fadeout {
  -webkit-animation-name: fadeout;
  -moz-animation-name: fadeout;
  -ms-animation-name: fadeout;
  animation-name: fadeout;
}

.map-fadein {
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  -ms-animation-name: fadein;
  animation-name: fadein;
}

.map-container {
  position: relative;
  width: 900px;
  margin: auto;
  overflow: hidden;
}

.map-leftarrow, .map-rightarrow {
  position: absolute;
  width: 65px;
  height: 504px;
  display: block;
  z-index: 1;
  opacity: 0;
  background-color: #CCC;
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;

  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.map-leftarrow {
  background-position: -3px 232.5px;
  background-image: url(img/prev.png);
}

.map-rightarrow {
  left: 833px;
  background-position: 17px 232.5px;
  background-image: url(img/next.png);
}

.map-leftarrow:hover, .map-rightarrow:hover {
  cursor: pointer;
  background-color: #999;
  background-color: rgba(0, 0, 0, 0.5);
}

.map-arrow-disabled {
  opacity: 0;
}

.map-arrow-disabled:hover {
  cursor: default !important;
}

.map-imageroll {
  position: relative;
  border-radius: 15px;
  white-space: nowrap;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

div.map-image {
  display: inline-block;
  width: 900px;
}

img.map-image {
  height: 505px;
}

.map-name {
  width: 100%;
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "TF2 Build";
  font-size: 56px;
  -webkit-text-stroke: 2px #141414;
  color: white;
  text-align: center;
}

.map-author {

}

.map-game {

}

.map-desc {

}

.map-dl {

}

.search-separator {
  width: 30%;
  margin-bottom: 40px;
  border-color: #F93;
}

.search-title:before {
  content: "";
  position: absolute;
  height: 30px;
  top: -12px;
  left: -12px;
  width: 10px;
  border: 2px solid #4188D2;
  border-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-title:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 12px;
  top: 78px;
  left: -12px;
  background-color: #4188D2;
}

.search-title {
  display: inline-block;
  margin-top: 20px;
  border: 2px solid #4188D2;
  border-left: 0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 11px 11px 11px 0;
  font-family: Bitter;
  font-size: 28px;
  color: #F93;
}

.search-term {
  color: #DDD;
}

.search-results {
  position: relative;
  top: -2px;
  margin-left: -12px;
  padding-top: 12px;
  padding-left: 18px;
  border-left: 2px solid #4188D2;
}

.search-results .article-header .article-metadata {
  margin-top: -39px;
}

.account-title {
  font-size: 32px;
  line-height: 2em;
}

.account-form {
  width: 800px;
  margin: auto;
  text-align: justify;
  font-size: 18px;
  font-family: Bitter;
  line-height: 1.3em;
  color: #DDD;
}

.account-input {
  width: 140px;
  border-width: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666;
  padding: 0;
  font: inherit;
  color: #141414;
  text-align: left;
}

@-webkit-keyframes blink { from{border-bottom-color: #888;} to{border-bottom-color: #333;} }
@-moz-keyframes blink { from{border-bottom-color: #888;} to{border-bottom-color: #333;} }
@keyframes blink { from{border-bottom-color: #888;} to{border-bottom-color: #333;} }

.account-input:focus {
  outline: 0;
  -webkit-animation: blink 1.4s ease-in-out infinite alternate;
  -moz-animation: blink 1.4s ease-in-out infinite alternate;
  -ms-animation: blink 1.4s ease-in-out infinite alternate;
  animation: blink 1.4s ease-in-out infinite alternate;
}

.account-input::-webkit-input-placeholder {
  color: #F93;
  text-align: center;
}

.login-input::-webkit-input-placeholder {
  color: white;
}

.account-input[name=email] {
  width: 240px;
}

.input-wrapper+.input-wrapper:before {
  content: " / ";
  color: #4188D2;
}

.account-button {
  width: auto;
  padding: 0;
  cursor: pointer;
  color: #F93;
  font-weight: 700;
  border: 0;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

.account-button:hover {
  color: #4188D2 !important;
}

.login-input {
  border-bottom-width: 1px;
  color: #141414;
}

.login-remember-switch {
  display: none;
}

.login-remember-switch + label {
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

.login-remember-switch + label:hover {
  color: #555;
}

.login-remember-switch:checked + label {
  color: white;
}

.login-remember-switch:checked + label:hover {
  color: #DDD;
}

.login-button {
  color: white;
}

::-webkit-validation-bubble-message {
  text-align: left;
}

::-webkit-validation-bubble-arrow {
  left: -60px;
}

.forums-table {
  table-layout: fixed;
  width: 100%;
}

.forums-entry {
  height: 50px;
  background-color: #181818;
}

.forums-entry:nth-child(2n) {
  background-color: #1C1C1C;
}

.forums-column-category   {width:  12px; cursor: pointer; }
.forums-column-modifydate {width: 180px; }
.forums-column-postcount  {width: 120px; }

.forums-entry-category {

  transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
}

.forums-entry-category-text {
  margin: 0 -10px;
  color: white;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  transform-origin: center;
  -webkit-transform-origin: center;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.forums-entry-category-text:hover {
  color: white;
}

/* Category-specific colors */

.forums-category-tf2         {background-color: #3D1C00; }
.forums-category-tf2:hover   {background-color: #4D2C10; }

.forums-category-dota2       {background-color: #EA2A00; }
.forums-category-dota2:hover {background-color: #FA3A10; }

.forums-category-other       {background-color: #0B474B; }
.forums-category-other:hover {background-color: #1B575B; }

.forums-entry-main {
  padding-left: 4px;
}

.forums-entry-title {
  font-family: Bitter;
  font-weight: 700;
}

.forums-entry-metadata {
  font-weight: 300;
}

.forums-entry-modifydate {
  text-align: center;
  font-weight: 600;
}

.forums-entry-miniheader {
  font-weight: 400;
  font-size: 14px;
}

.forums-entry-postcount {
  text-align: center;
  font-weight: 600;
}


.forums-post-header {
  height: 28px;
  background-color: #1C1C1C;
  border-bottom: groove #262626 2px;
}

.forums-post-header:before,.forums-post-header:after {
  content: "";
  display: table;
}

.forums-post-header:after {
  clear: both;
}

.forums-post-number {
  float: left;
  width: 40px;
  height: 28px;
  border-right: groove #262626 2px;
  font-weight: 300;
  text-align: center;
  line-height: 28px;
}

.forums-post-metadata {
  height: 28px;
  margin-right: 12px;
  font-size: 16px;
  font-style: italic;
  color: #999;
  float: right;
  line-height: 28px;
}

.forums-post-author:before {
  content: "by ";
}

.forums-post-metadata-item+.forums-post-metadata-item:before {
  content: " – ";
}

.forums-post {
  min-height: 120px;
  margin: 10px 0;
  background-color: #181818;
  border-radius: 2px;
  box-shadow: 0 0 4px 0 rgba(14, 14, 14, .9);
  text-align: justify;
}

.forums-post p {
  margin: 8px;
}

.forums-post:last-child {
  margin-bottom: 30px;
}
