{% extends 'admin/index.html' %}

{% block content %}

<h1>Manage about section</h1>

{% if status == 'descsuccess' %}

    Successfully updated group description.

{% endif %}

{% if status == 'success' %}

    Successfully updated your profile.

{% endif %}

{% if status == 'toomuch' %}

    Please only enter 6 or less profiles.

{% endif %}

<form action='about.php' method='post'>
<fieldset>

About: <textarea name='description'>{{ description | raw }}</textarea><br>

Website: <input type='text' name='website' value='{{ linkList.website | raw }}'><br>
email: <input type='text' name='email' value='{{ linkList.email | raw }}'><br>
github: <input type='text' name='github' value='{{ linkList.github | raw }}'><br>
twitter: <input type='text' name='twitter' value='{{ linkList.twitter | raw }}'><br>
twitch: <input type='text' name='twitch' value='{{ linkList.twitch | raw }}'><br>
youtube: <input type='text' name='youtube' value='{{ linkList.youtube | raw }}'><br>
steam: <input type='text' name='steam' value='{{ linkList.steam | raw }}'><br>
reddit: <input type='text' name='reddit' value='{{ linkList.reddit | raw }}'><br>

<input type='submit' name='submit'>

</fieldset>
</form>

<hr>

<form action='about.php' method='post'>
<fieldset>

Group about: <textarea name='description'>{{ groupdesc | raw }}</textarea><br>

<input type='submit' name='submitdesc'>

</fieldset>
</form>

{% endblock %}
