{% extends "admin/index.html" %}

{% block content %}

<h1>Manage games</h1>

<form action='games.php' method='post'>
<table border>
<tr><th>Name</th><th>Steam store id (optional)</th></tr>

{% for game in games %}
<tr>
<td><input type='text' value='{{ game.name | raw }}' name='{{ game.id }}name'></td>
<td><input type='text' value='{{ game.steamid }}' name='{{ game.id }}steamid'></td>
</tr>
{% endfor %}

</table>
<p>
<input type='submit' value='Update' name='update'>
</p>
</form>
<hr>
<form action='games.php' method='post'>
<input type='text' name='name'><input type='text' name='steamid'><input type='submit' name='addnew' value='Insert'>
</form>

{% endblock %}
