{% extends "admin/index.html" %}

{% block content %}
<h1>Manage your stream</h1>

{% if status == "update" %}
Stream successfully updated.
{% elseif status == "delete" %}
Stream deleted.
{% else %}
<form action='stream.php' method='post'>
Twitch username<br>
<input type='text' name='twitchname' value='{{ data.twitchname }}' required><br>
Stream description<br>
<textarea name='description' rows='7' cols='50' placeholder='Inactive stream!' required>{{ data.text | raw }}</textarea><br>
Active stream <input type='checkbox' name='active' checked> (there is a chance your stream will be live sometime soon) -
if you uncheck this, your description will be lost<br>
<input type='submit' name='submit'>
</form>
{% endif %}
{% endblock %}
