<?php

if (!isset($r_c)) header("Location: /notfound.php");

$config["db"] = array(
    "host" => "hostname",
    "username" => "user",
    "password" => "pass",
    "dbname" => "database",
    "charset" => "utf8"
);

$config["apikey"] = "steamapikey";

$config["domain"] = "domainname";

$config["python"] = array(
    "rss" => "execute the python rss script",
    "webp" => "execute the webp python script"
);

?>
