<?php

if (!isset($r_c)) header("Location: /notfound.php");

$url = parse_url(getenv("CLEARDB_DATABASE_URL"));

$config["db"] = array(
    "host" => $url["host"],
    "username" => $url["user"],
    "password" => $url["pass"],
    "dbname" => substr($url["path"], 1),
    "charset" => "utf8"
);

$config["apikey"] = "steamapikey";

$config["domain"] = "domainname";

$config["python"] = array(
    "rss" => "execute the python rss script",
    "webp" => "execute the webp python script"
);
