<p>
{% autoescape false %}{{ description }}{% endautoescape %}
</p>

{% for about in abouts %}
<div class='about-container'>
<div class='about-img'><img src='/img/custom/{{ about.username|lower }}.png' alt='{{ about.username }}' class='about-img'></div>
<div class='about-text'>
<div class='about-name'>{{ about.firstname }} <span class='about-nick'>{{ about.username }}</span> {{ about.lastname }}</div>
<p class='about-description'>{% autoescape false %}{{ about.description }}{% endautoescape %}</p>
<ul class='about-contact'>
  {% if about.links.website is defined %}
  <a href='{{ about.links.website }}'><li>Website</li></a>
  {% endif %}
  {% if about.links.email is defined %}
  <a href='mailto:{{ about.links.email }}'><li>Email</li></a>
  {% endif %}
  {% if about.links.github is defined %}
  <a href='https://github.com/{{ about.links.github }}'><li>GitHub</li></a>
  {% endif %}
  {% if about.links.twitter is defined %}
  <a href='https://twitter.com/{{ about.links.twitter }}'><li>Twitter</li></a>
  {% endif %}
  {% if about.links.twitch is defined %}
  <a href='http://twitch.tv/{{ about.links.twitch }}'><li>Twitch</li></a>
  {% endif %}
  {% if about.links.youtube is defined %}
  <a href='http://youtube.com/user/{{ about.links.youtube }}'><li>YouTube</li></a>
  {% endif %}
  {% if about.links.steam is defined %}
  <a href='http://steamcommunity.com/id/{{ about.links.steam }}'><li>Steam</li></a>
  {% endif %}
  {% if about.links.reddit is defined %}
  <a href='http://reddit.com/user/{{ about.links.reddit }}'><li>Reddit</li></a>
  {% endif %}
</ul>
</div>
</div>
{% endfor %}
