{% if loop.first %}
<table class='forums-table'>
    <colgroup>
        <col class='forums-column-category'>
        <col class='forums-column-title'>
        <col class='forums-column-modifydate'>
        <col class='forums-column-postcount'>
    </colgroup>
    <tbody>
{% endif %}

        <tr class='forums-entry'>
            <td class='forums-entry-category forums-category-{{ thread.categoryname }}'>
                <a class='forums-entry-category-text' href='/forums/category/{{ thread.categoryname }}'>

                    {{ thread.categoryname }}

                </a>
            </td>
            <td class='forums-entry-main {% if thread.closed %}forums-entry-closed{% endif %}'>
                <a class='forums-entry-title' href='/forums/{{ thread.id }}'>

                    {% autoescape false %}{{ thread.title }}{% endautoescape %}

                </a>
                <br>
                <span class='forums-entry-metadata'>

                    created by {{ thread.author }} {% autoescape false %}{{ thread.date }}{% endautoescape %}

                </span>
            </td>
            <td class='forums-entry-modifydate'>
                <span class='forums-entry-miniheader'>Last reply posted</span><br>

                {% autoescape false %}{{ thread.lastdate }}{% endautoescape %}

            </td>
            <td class='forums-entry-postcount'>
                <span class='forums-entry-miniheader'>Thread has</span><br>

                {{ thread.replycount }} {% if thread.replycount == 1 %} reply {% else %} replies {% endif %}

            </td>
        </tr>

{% if loop.last %}
    </tbody>
</table>
{% endif %}
