{% if not thread.newsstringid %}
    <h1>
        <a href='/forums/{{ thread.id }}'>{{ thread.title }}</a>
    </h1>

    {% if thread.closed %}
        <div class='forums-thread-closedtext'>closed</div>
    {% endif %}

    {% if thread.mapname %}

        <a href='/maps/#{{ thread.mapname }}'>&#x21AA; related map</a>

    {% endif %}

{% endif %}

<div class='forums-posts'>

    {% if not thread.newsstringid %}

        {% set post = thread.firstpost %}
        {% set cn = 1 %}
        {% include 'forum-post.html' %}

    {% endif %}

    {% if not thread.newsstringid %}
        {% set cn = 2 %}
    {% else %}
        {% set cn = 1 %}
    {% endif %}

    {% for post in thread.posts %}

        {% include 'forum-post.html' %}
        {% set cn = cn + 1 %}

    {% endfor %}

</div>

{% if thread.closed %}

    closed thread

{% else %}

    {% if loggedin %}

        <hr><h1 class='comments-title'>Reply to this thread</h1>
        <div class='comment-form'>
        {% if thread.newsstringid %}

            <form action='/news/{{ thread.newsstringid }}/' method='post'>

        {% else %}

            <form action='/forums/{{ thread.id }}/' method='post'>

        {% endif %}
                <textarea name='text' class='comment-textarea' required maxlength='20000'></textarea>
                <input type='submit' name='cp' value='&gt;' class='comment-submitbutton'>
            </form>
        </div>

    {% else %}

        <hr><h1 class='comments-title'>Log in to be able to post replies</h1>

    {% endif %}

{% endif %}
