<form action='/forums/edit/{{ thread.id }}/{% if ispost %}{{ post.id }}/{% endif %}' method='post'>
    {% if not ispost %}
    <label class='forums-newpost-select-label' for='cat'>Category:
    <select class='forums-newpost-select' name='cat'>

    {% for category in categories %}

        <option value='{{ category.id }}' {% if category.id == currentcategory %} selected {% endif %}>{{ category.longname }}</option>

    {% endfor %}

    </select>
    </label>
    {% endif %}
<input class='forums-newpost-submit forums-edit-submit' type='submit' name='edit' value='Submit &#x27A8;'>
    {% if not ispost %}
    <h1>
        <input class='forums-newpost-title' type='text' name='title' autofocus required placeholder='Enter a title here...' maxlength='37' value='{{ thread.title | raw }}'>
    </h1>
    {% endif %}
<div class='forums-post'>
    <div class='forums-post-header'>
        <div class='forums-post-number'>
            {% if ispost %}
            #N
            {% else %}
            #1
            {% endif %}
        </div>
    </div>
    <div>
        <textarea class='forums-newpost-text' name='text' required placeholder='Type your post here...' maxlength='20000'>{% if ispost %}{{ post.text | raw }}{% else %}{{ thread.text | raw }}{% endif %}</textarea>
    </div>
</div>

{% if userisadmin %}

    {% if ispost %}
        delete this reply <input type='checkbox' name='delete'>
    {% else %}
        delete this whole thread <input type='checkbox' name='delete'>
        closed thread? <input type='checkbox' name='closed' {% if thread.closed %}checked{% endif %}>
    {% endif %}

{% endif %}

</form>
