</section>

</div>

<footer>
2014 thecookiefactory.org<br>
<ul class='contact-us'>
    <li>
        <span class='fa-stack fa-3x'>
            <a href='http://steamcommunity.com/groups/thecookiefactory'>
                <i class='fa fa-steam fa-stack-1x'></i>
            </a>
        </span>
    </li>
    <li>
        <span class='fa-stack fa-3x'>
            <a href='http://gplus.to/thecookiefactory'>
                <i class='fa fa-google-plus fa-stack-1x'></i>
            </a>
        </span>
    </li>
    <li>
        <span class='fa-stack fa-3x'>
            <a href='http://facebook.com/thecookiefactoryorg'>
                <i class='fa fa-facebook fa-stack-1x'></i>
            </a>
        </span>
    </li>
    <li>
        <span class='fa-stack fa-3x'>
            <a href='http://youtube.com/thecookiefactoryorg'>
                <i class='fa fa-youtube-play fa-stack-1x'></i>
            </a>
        </span>
    </li>
    <li>
        <span class='fa-stack fa-3x'>
            <a href='http://github.com/thecookiefactory'>
                <i class='fa fa-github fa-stack-1x'></i>
            </a>
        </span>
    </li>
</ul>
</footer>
</body>
</html>
