</section>

</div>

<footer>
2014 thecookiefactory.org<br>
<div class='contact-us'>
    <span class='fa-stack fa-lg'>
        <a href='http://steamcommunity.com/groups/thecookiefactory'>
            <i class='fa fa-square fa-stack-2x'></i>
            <i class='fa fa-steam fa-stack-1x fa-inverse'></i>
        </a>
    </span>
    <span class='fa-stack fa-lg'>
        <a href='http://gplus.to/thecookiefactory'>
            <i class='fa fa-square fa-stack-2x'></i>
            <i class='fa fa-google-plus fa-stack-1x fa-inverse'></i>
        </a>
    </span>
    <span class='fa-stack fa-lg'>
        <a href='http://facebook.com/thecookiefactoryorg'>
            <i class='fa fa-square fa-stack-2x'></i>
            <i class='fa fa-facebook fa-stack-1x fa-inverse'></i>
        </a>
    </span>
    <span class='fa-stack fa-lg'>
        <a href='http://youtube.com/thecookiefactoryorg'>
            <i class='fa fa-square fa-stack-2x'></i>
            <i class='fa fa-youtube-play fa-stack-1x fa-inverse'></i>
        </a>
    </span>
    <span class='fa-stack fa-lg'>
        <a href='http://github.com/thecookiefactory'>
            <i class='fa fa-square fa-stack-2x'></i>
            <i class='fa fa-github fa-stack-1x fa-inverse'></i>
        </a>
    </span>
</div>
</footer>
</body>
</html>
