{% for map in maps %}
    <div class='map-name' id='{{ map.name }}'>{{ map.name }}</div>
    <div class='map-container'>
      <div class='map-leftarrow map-arrow-disabled' id='map-{{ map.id }}-left' onclick='startImagerollScrolling(this.id, -1);'></div>
      <div class='map-rightarrow map-arrow-disabled' id='map-{{ map.id }}-right' onclick='startImagerollScrolling(this.id, 1);'></div>
      <div class='map-actionbar' id='map-actionbar-{{ map.id }}'>
        <span class='map-actionbar-button' id='map-moreinfo-{{ map.id }}' onclick='animateDataPanel(this.id)'>More info</span>
          {% if map.link %}
            <a href='{{ map.link }}' target='_blank'><span class='map-actionbar-button'>Download</span></a>
          {% else %}
            <span class='map-actionbar-button-disabled'>Download</span>
          {% endif %}
      </div>
      <div class='map-imageroll' id='map-{{ map.id }}' onload='initialize(this.id);'>
        <script type='text/javascript'> lendict["map-{{ map.id }}"] = {{ map.picturecount }} + 1; initialize("map-{{ map.id }}");</script>
        <div class='map-image'><img class='map-image' alt='{{ map.name }}' src='/img/maps/{{ map.id }}.{{ map.extension }}'></div>
        {% for picture in map.pictures %}
            <div class='map-image'><img class='map-image' src='/img/maps/{{ map.id }}/{{ picture.filename }}' alt='{{ picture.text }}' title='{{ picture.text }}'></div>
        {% endfor %}
      </div>
      <div class='map-data' id='map-data-{{ map.id }}'>
        <div class='map-data-properties'>
          <span class='map-data-prop map-data-author'>{{ map.author }}</span>
          <span class='map-data-prop map-data-game'>
          {% if map.game.steamid %}
            <a target='_blank' href='http://store.steampowered.com/app/{{ map.game.steamid }}'>{{ map.game.name }}</a>
          {% else %}
            {{ map.game.name }}
          {% endif %}
          </span>
          <span class='map-data-prop map-data-dlcount'>{{ map.downloadcount }} times</span>
          <span class='map-data-prop map-data-date'>{% autoescape false %}{{ map.editdate }}{% endautoescape %}</span>
          {% if map.comments %}
              <span class='map-data-prop map-data-topic'>
              <a href='/forums/{{ map.thread.id }}'>{{ map.thread.replycount }} {% if map.thread.replycount == 1%} reply</a> {% else %} replies</a> {% endif %}
              </span>
          {% endif %}
        </div>
        <div class='map-data-desc'>
          {{ map.text }}
        </div>
        <div class='map-data-actionbar'>
          <span class='map-actionbar-button' id='map-lessinfo-{{ map.id }}' onclick='animateDataPanel(this.id)'>Less info</span>
          {% if map.link %}
            <a href='{{ map.link }}' target='_blank'><span class='map-actionbar-button'>Download</span></a>
          {% else %}
            <span class='map-actionbar-button-disabled'>Download</span>
          {% endif %}
        </div>
      </div>
    </div>

    {% if loop.first %}
        <div class='map-ad'>
              <script async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'></script>
              <!-- Maps Inline -->
              <ins class='adsbygoogle'
                   style='display:inline-block;width:728px;height:90px'
                   data-ad-client='ca-pub-8578399795841431'
                   data-ad-slot='8918199475'></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
        </div>
    {% endif %}
{% else %}
    <p>There are no maps.</p>
{% endfor %}
