{% for new in news %}
    {% include 'news-box.html' %}
    {% if loop.first %}
        <div class='news-ad'>
            <script async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'></script>
            <!-- News Articles Inline -->
            <ins class='adsbygoogle'
                 style='display:inline-block;width:728px;height:90px'
                 data-ad-client='ca-pub-8578399795841431'
                 data-ad-slot='5270925477'></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <hr class='article-separator'>
    {% endif %}

    {% if loop.last %}
        <div class='news-pages'>

        {% for i in 1..pagecount %}

            {% if i == page %}

                <div class='news-page-number'>{{ i }}</div>

            {% else %}

                <a class='news-page-number' href='/news/page/{{ i }}'>{{ i }}</a>

            {% endif %}

        {% endfor %}

        </div>
    {% endif %}

{% else %}
    There are no news posts.
{% endfor %}

<a class='news-rsslink' href='/rss.xml'>RSS</a>
