<ul class='stream-menu'>
{% for stream in streams %}
    <a href='/streams/{{ stream.author }}/'>

    {% if stream.id == selectedid %}
        <li class='stream-button stream-button-selected
    {% else %}
        <li class='stream-button
    {% endif %}

    {% if stream.live %}
        stream-live
    {% endif %}

    '>{{ stream.author }}</li>
    </a>
{% else %}
    <p>There are no active streams.</p>
{% endfor %}
</ul>
{% if selectedid %}

    {% set stream = attribute(streams, selectedid) %}

    {% include 'stream-main.html' %}

{% endif %}
