<!doctype html>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
    <title>thecookiefactory.org admin</title>
    <style type='text/css'>
        li {
            display: inline;
        }
    </style>
</head>
<body>
<ul>
    <li><a href='stream.php'>manage your stream</a></li>
    <li><a href='news.php'>manage news</a></li>
    <li><a href='maps.php'>manage maps</a></li>
    <li><a href='galleries.php'>manage galleries</a></li>
    <li><a href='games.php'>manage games table</a></li>
    <li><a href='forumtopics.php'>manage forum categories</a></li>
    <li><a href='cpages.php'>manage custom pages</a></li>
    <li><a href='users.php'>list users</a></li>
</ul>
{% block content %}
{% endblock %}
</body>
</html>
