{% extends 'index.html' %}

{% block content %}

<form action='/forums/add/' method='post'>
    <label class='forums-newpost-select-label' for='cat'>Category:
    <select class='forums-newpost-select' name='cat'>

    {% for category in categories %}

        <option value='{{ category.id }}'>{{ category.longname }}</option>

    {% endfor %}

</select></label>
<input class='forums-newpost-submit' type='submit' name='addnew' value='Submit &#x27A8;'>
    <h1>
        <input class='forums-newpost-title' type='text' name='title' autofocus required placeholder='Enter a title here...' maxlength='37'>
    </h1>
<div class='forums-post'>
    <div class='forums-post-header'>
        <div class='forums-post-number'>
            #1
        </div>
    </div>
    <div>
        <textarea class='forums-newpost-text' name='text' required placeholder='Type your post here...' maxlength='20000'></textarea>
    </div>
</div>

</form>

{% endblock %}
